<footer id="footer" role="contentinfo">
    <section class="footer-body">
        <ul id="aui-footer-list">
            <li>Copyright © 2009-
                <script>document.write(new Date().getUTCFullYear());</script>
                Atlassian
            </li>
            <li><a href="https://bitbucket.org/atlassian/aui/src/7.9.1/LICENSE">License</a></li>
            <li><a href="https://bitbucket.org/atlassian/aui/src/7.9.1/changelog.md">Changelog</a></li>
            <li>7.9.1</li>
        </ul>
        <div id="footer-logo"><a href="{% url 'START_PAGE' %}">Atlassian</a></div>
    </section>
</footer>